body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#000428,#004e92);
color:white;
}

header{
background:black;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.container{
padding:20px;
text-align:center;
}

input{
padding:12px;
margin:10px;
border-radius:10px;
border:none;
}

button{
padding:12px;
border:none;
border-radius:10px;
background:gold;
cursor:pointer;
font-weight:bold;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

/* PRO GLOW DIAMOND CARD */
.card{
background:linear-gradient(145deg,#111,#000);
padding:25px;
border-radius:15px;
cursor:pointer;
transition:0.4s;
position:relative;
overflow:hidden;
}

.card h3{
margin:0;
}

.card span{
color:gold;
font-weight:bold;
}

.card:hover{
transform:translateY(-10px) scale(1.05);
box-shadow:
0 0 15px gold,
0 0 30px gold,
0 0 60px rgba(255,215,0,0.8);
}

.card::before{
content:"";
position:absolute;
width:200%;
height:200%;
background:linear-gradient(120deg,transparent,rgba(255,255,255,0.2),transparent);
top:-100%;
left:-100%;
transform:rotate(25deg);
transition:0.6s;
}

.card:hover::before{
top:100%;
left:100%;
}

.qr{
width:200px;
margin-top:15px;
}

